.Button{
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-weight: 900;
    font-size: large;
    border:none;
    background-color: tomato;
    margin: 5px;
    box-shadow: 30px 30px 25px gray;

}
.Button *{
    vertical-align: middle;
}
.Button img{
    max-height: 48px;
    max-width: 48px;
}
.click{
    box-shadow: 10px 10px 15px gray;
}
.disabled{
    background-color: grey !important;
}